{% extends 'base.html' %}
{% block content_2 %}
{% if not user.is_authenticated %}
    <script>
        window.location.href = "/";
    </script>
{% endif %}
<h1>Electral Control Systems</h1>
<h2>Machines:</h2>
<div class = "parts40"> 
    <div>
        <div class="centered">
            <form name = "addForm" action = "processMachine"  onsubmit = "return compileselections();"  method = "POST">
                {% csrf_token %} 
                <input type = "hidden" id = "functionMode" name = "functionMode" value = ""/>
                <input type = "hidden" id = "setUpSequence" name = "setUpSequence" value = ""/>
                <input type = "hidden" id = "dirtyFlag" name = "dirtyFlag" value = "FALSE" />

                <table>
                    <tr>
                        <td><label id="labelmcode" for = "mcode" >Id Code</label></td>
                        <td><input type = "text" name = "mcode" id = "mcode"></td>
                    </tr>
                    <tr>
                        <td><label id="labelmname" for = "mname" >Name</label></td>
                        <td><input type = "text" name = "mname" id = "mname"></td>
                    </tr>
                    <tr>
                        <td><label id="labelmdesc" for = "mdesc" >Description</label></td>
                        <td><input type = "text" name = "mdesc" id = "mdesc"></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <input type="submit" class="w3-button w3-blue" value="Submit" onclick = "setFunctionalMode('ADDED');" >
                                    </td>
                                    <td>
                                        <input type="submit" class="w3-button w3-blue" value="Cancel" onclick = "setFunctionalMode('CANCEL');">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table> 
            </form>
        </div>
    </div>
    
    <div>
        <div class="centered">
            <form name = "setupsForm" action = "#" method = "POST">
                {% csrf_token %} 
                <table id = "rightsidetable" name = "rightsidetable" width = "80%">
                    <tr>
                        <td>
                            <table border = "1" width = "100%">
                                <tr>
                                    <td>
                                        <input type="button" class="w3-button w3-block w3-round w3-teal" 
                                                style="width:100%" value="Add Setup" 
                                                id = "btnaddsetup"  onclick= "addSetupToSequence('{{allSetups}}');">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td  width = "60%" valign = "top">
                            <table id = "tablesetups" name = "tablemachine"  border = "1" width = "100%">
                                <tr>
                                    <th width = "75%">Setup Sequence</th>
                                    <th width = "20%">Cycle Time</th>
                                    <th width = "5%">Del</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div id = "errormessages">
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div>  
            </form>            
        </div>
    </div>
</div>

<script>
    function formTag(parentTag, tagName, attributes, attValues){

        var tag = document.createElement(tagName);
        for (i1 = 0; i1 < attributes.length; i1++){
            var attribute = document.createAttribute(attributes[i1]);
            attribute.value = attValues[i1];
            tag.setAttributeNode(attribute); 
            parentTag.appendChild(tag);     
        }
        return tag;
    }

    function formLeafTag(parentTag, tagName, attributes, attValues, innerText){

        var tagLeaf = formTag(parentTag, tagName, attributes, attValues);
        tagLeaf.innerHTML = innerText;
        return tagLeaf;
    }

    function addSetupToSequence(totalSetupsListJson){
        /*
        ** REF STRUCTURE
        <tr>
            <td width = "91%" valign = "top">
                <div class = "tablesetupselect">
                <select id="setup1" name="setup1" style="min-width:100%;">
                    <option value="process10">process10</option>
                    <option value="process20">process20</option>
                    <option value="process30">process30</option>
                    <option value="process40">process40</option>
                    </select>
                </div>
            </td>
            <td width = "3%" valign = "top"><button class="dropbtn"><i class="fa fa-arrow-circle-down"></i></button></td>
            <td width = "3%" valign = "top"><button class="btn"><i class="fa fa-trash"></i></button></td>
        </tr>
        */

        var totalSetupList = JSON.parse(totalSetupsListJson)
        var tablesetup = document.getElementById('tablesetups');
        var rowIndex = tablesetup.rows.length;

        var row = tablesetup.insertRow();
//        var td1 = row.insertCell();

        attributes = ["valign", "width"]
        attValues = ["top", "75%"]
        var tagTd1 = formTag(row, "td", attributes, attValues)

        //      ADD DIV TAG PARENT TD
        attributes = ["class"]
        attValues = ["tablesetupselect"]
        var tagDiv = formTag(tagTd1, "div", attributes, attValues)

        //      ADD SELECT TAG PARENT DIV
        idName = "machine" + rowIndex;
        attributes = ["id", "name", "style"]
        attValues = [idName, idName, "min-width:100%;"]
        var tagSelect = formTag(tagDiv, "select", attributes, attValues)

        //      ADD OPTION TAG PARENT SELECT
        attributes = ["value"]

        for (i = 0; i < totalSetupList.length; i++){

            optionText = totalSetupList[i]['name']
            var attributes = ["value"]
            var attValues = [optionText]
            
            tagLeaf = formLeafTag(tagSelect, "option", attributes, attValues, optionText)
        }

        // ADD SECOND TD
        attributes = ["valign", "width"]
        attValues = ["top", "20%"]
        var tagTd2 = formTag(row, "td", attributes, attValues)

        inputCycleTimeName = "cycle" + rowIndex
        attributesInput = ["type", "id", "name", "min", "max", "style"]
        attValuesInput = ["number", inputCycleTimeName, inputCycleTimeName, "1", "1800", "min-width:100%;"]
        var tagTdBtn2 = formTag(tagTd2, "input", attributesInput, attValuesInput)
        console.log(tagTdBtn2)

        // ADD DELETE BUTTON
        attributesTd = ["valign", "width"]
        attValuesTd = ["top", "5%"]
        var tagTd3 = formTag(row, "td", attributesTd, attValuesTd)

        btnDelIdName = "delbtn" + rowIndex

        attributesDel = ["class", "id", "name", "onclick", "style"]
        attValuesDel = ["dropbtn", btnDelIdName, btnDelIdName, "onDelBtnClicked(" + rowIndex + ");", "min-width:100%;"]
        var tagTdBtn3 = formTag(tagTd3, "button", attributesDel, attValuesDel)
        attributestagTdBtn3 = ["class"]
        attValuestagTdBtn3 = ["fa fa-trash"]
        var tagi2 = formTag(tagTdBtn3, "i", attributestagTdBtn3, attValuestagTdBtn3)
        console.log('--- row ---\n');
        console.log(row);
    }

    function reAssignRowIndex(){
        var tablemachine = document.getElementById('tablesetups');
        var rows = tablemachine.rows;
        for (i = 1; i < rows.length; i ++){
            var cellDel = rows[i].cells[2];
            var buttonDelTag = cellDel.childNodes[0];
            buttonDelTag.setAttribute("onclick", "onDelBtnClicked(" + i + ");");
            buttonDelTag.setAttribute("id", "delbtn" + i);
            buttonDelTag.setAttribute("name", "delbtn" + i);
        }
    }

    /*---- TODO: PROBABLY NEED TO DEPRECATE
    function insertRow(index){
        var tablemachine = document.getElementById('tablemachine');
        var row = tablemachine.rows[index];
    }
*/
    function deleteRow(index){
        alert('CHECK POINT 01')
        document.getElementById("tablesetups").deleteRow(index);
        reAssignRowIndex();
    }

    function onDelBtnClicked(index){
        deleteRow(index);
        return false;
    }

    function compileselections(){
        /*
        */
        if (document.getElementById('functionMode').value != "CANCEL"){
            var mcode = document.getElementById('mcode').value;
            var mname = document.getElementById('mname').value;
            if (!mcode || 0 === mcode.length){
                alert ('code field empty');
                return false;
            }
            if (!mname || 0 === mname.length){
                alert ('name field empty');
                return false;
            }

            var tableTag = document.getElementById('tablesetups');
            var tbodyTag = tableTag.children[0];
            var trTags = tbodyTag.getElementsByTagName("TR");
            var noSetups = trTags.length;
            setups = []
            if (noSetups > 0){
                for (i = 1; i < noSetups; i++){
                    var selectTag = trTags[i].children[0].children[0].children[0];
                    var cycleTimeTag = trTags[i].children[1].children[0];
                    machine_setup_cycle = {
                        'setup'         : selectTag.value,
                        'cycle_time'    : cycleTimeTag.value
                    }
                    setups.push(machine_setup_cycle);

//                    console.log (trTags[i].children[1].children[0])
//                    console.log ('\n---- cycle Time ----\n', selectTag.value, ' - ', cycleTimeTag.value);
/*
                    var pair = {};
                    pair['setup'] = selectTag.value;
                    pair['cycle_time'] = cycleTimeTag.value;
                    setups.push(pair);
*/
                }
            }
            var setUpsJSON = JSON.stringify(setups);
            var setUpSequenceTag = document.getElementById('setUpSequence');
            setUpSequenceTag.setAttribute("value", setUpsJSON);
            markDirty();
        }
        return true;
    }

    function setFunctionalMode(mode){
        document.getElementById('functionMode').value = mode;
    }

    function markDirty(){
        
        document.getElementById('dirtyFlag').value = "TRUE";
    }

    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
    function init(){
    }

    init();

</script>
{% endblock %}
