{% extends 'base.html' %}
{% block content_2 %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}
    <meta id="machinesListJsondata" data="{{machinesListJson}}" />
    <h2>Machines:</h2>

    <div class = "parts"> 

        <div class="splitleft">
            <div class="centered">
                <form name = "machinesForm" action = "processMachine" method = "POST">
                    {% csrf_token %} 
                    <table id = "machinetable"  width = 95% border = 1>
                        <tr>
                            <th  width="20%">Machine ID</th>
                            <th  width="auto">Machine name</th>
                            <th  width="5%"></th>
                        </tr>
                        {% for m in machines %}
                        <tr>
                            <td>{{m.id_code}}</td>
                            <td>{{m.name}}</td>
                            <td><input type = "radio" value = "{{m.id_code}}" id = "editPart{{m.id_code}}" name = "editMachine" 
                                class = "selected" 
                                onchange= 
                                "machineSelected('{{m.id_code}}');">
                                </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div id = "buttondiv" align = "right">

                        <input type = "hidden" id = "selectedMachine" name = "selectedMachine" value = "NO_SETUP"/>
                        <input type = "hidden" id = "functionMode" name = "functionMode" value = "ADD"/>
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" id = "addMachineButton" class="w3-button w3-blue" value=" New "
                                            onclick = "setFunctionMode('ADD')">
                                </td>
                                <td>
                                    <input type="submit" id = "editMachineButton" class="w3-button w3-blue" value="Edit"
                                            onclick = "setFunctionMode('EDIT')">
                                </td>
                                <td>
                                    <input type="submit" id = "deleteMachineButton" class="w3-button w3-blue" value="Delete"
                                            onclick = "setFunctionMode('DELETE')">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
      
        <div class="splitright">
            <div class="centered">
                <table>
                    <tr>
                        <td><label id="labelpcode" for = "mcode" disabled>Id</label></td>
                        <td><input type = "text" name = "mcode" id = "mcode" maxlength="15" size = "20" disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelpname" for = "mname" >Name</label></td>
                        <td><input type = "text" name = "mname" id = "mname" maxlength="20" size = "20" disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelpdesc" for = "mdesc" >Description</label></td>
                        <td>
                            <textarea name = "mdesc" id = "mdesc" rows = "8" cols = "21"  disabled></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan = "2"><label id="labelpops" for = "mdesc" disable ></label></td>
                    </tr>
                    <tr>
                        <td id = "setupList"  colspan = "2">
                            <!-- LIST WILL DYNAMICALLY APPEAR HERE-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script>

    function setFunctionMode(fMode){
        document.getElementById('functionMode').value =  fMode;
    }

    function machineSelected(mc){
        document.getElementById('editMachineButton').classList.remove('disabled');
        document.getElementById('deleteMachineButton').classList.remove('disabled');
        document.forms["machinesForm"]['selectedMachine'].value = mc;

        var machinesListJson = document.getElementById('machinesListJsondata').getAttribute("data");
        var machinesList = JSON.parse(machinesListJson);

        var setups = machinesList[mc]['setups'];
        document.getElementById('mcode').setAttribute('value', machinesList[mc]['id_code'])
        document.getElementById('mname').setAttribute('value', machinesList[mc]['name'])
        document.getElementById('mdesc').innerHTML = machinesList[mc]['desc'];

        var setUpsTDTag = document.getElementById('setupList');

        //# CLEAR PREVIOUS LIST BEFORE POPULATING
        while (setUpsTDTag.hasChildNodes()) {  
            setUpsTDTag.removeChild(setUpsTDTag.firstChild);
        }

        // ADD ACTUAL LIST OF SETUPS AS  TABLE
        var tableTag = document.createElement('TABLE');
        var attTableTagBorder = document.createAttribute('border');
        attTableTagBorder.value = 1;
        tableTag.setAttributeNode(attTableTagBorder); 

        setUpsTDTag.appendChild(tableTag)

        var trHeadTag = document.createElement('TR');
        tableTag.appendChild(trHeadTag)

        var thSetupTag = document.createElement('TH');
        thSetupTag.innerHTML = "Setup";
        trHeadTag.appendChild(thSetupTag);

        var thCycleTag = document.createElement('TH');
        thCycleTag.innerHTML = "Cycle";
        trHeadTag.appendChild(thCycleTag)

        for (let [key, val] of Object.entries(setups)) {

            var trContentTag = document.createElement('TR');
            tableTag.appendChild(trContentTag)
    
            //------- TD SETUP -----------
            var tdTag = document.createElement('TD');

            trContentTag.appendChild(tdTag)
    
            var attType = document.createAttribute('type');
            attType.value = 'text';

            var attValue = document.createAttribute('value');
            attValue.value = val['name'];

            var attDisabled = document.createAttribute('disabled');
            attDisabled.value = 'true';

            var attSize = document.createAttribute('size');
            attSize.value = '42';

            var inputTag = document.createElement('input');
            inputTag.setAttributeNode(attType); 
            inputTag.setAttributeNode(attValue); 
            inputTag.setAttributeNode(attDisabled); 
            inputTag.setAttributeNode(attSize); 
            tdTag.appendChild(inputTag)

            //------- TD CYCLE TIME-----------
            var tdTagCycle = document.createElement('TD');
            trContentTag.appendChild(tdTagCycle)
    
            var attSizeCycle = document.createAttribute('size');
            attSizeCycle.value = '4';
    
            var attAlignCycle = document.createAttribute('align');
            attAlignCycle.value = 'right';
    
            var attTypeCycle = document.createAttribute('type');
            attTypeCycle.value = 'text';

            var attValueCycle = document.createAttribute('value');
            attValueCycle.value = val['cycle_time'];

            var attDisabledCycle = document.createAttribute('disabled');
            attDisabledCycle.value = 'true';

            var inputTagCycle = document.createElement('input');

            inputTagCycle.setAttributeNode(attAlignCycle); 
            inputTagCycle.setAttributeNode(attSizeCycle); 
            inputTagCycle.setAttributeNode(attTypeCycle); 
            inputTagCycle.setAttributeNode(attValueCycle); 
            inputTagCycle.setAttributeNode(attDisabledCycle); 
    
            var attTdAlignCycle = document.createAttribute('align');
            attTdAlignCycle.value = 'right';

//            tdTagCycle.setAttributeNode(attTdAlignCycle); 
            tdTagCycle.appendChild(inputTagCycle)
    }       
        // ADD SETUPS LIST LABEL
        var lableTag = document.getElementById('labelpops');
        lableTag.innerHTML = "<h3>Setups</h3>";
        console.log(tableTag);
    }

    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
    function init(){
        document.getElementById('editMachineButton').classList.add('disabled');
        document.getElementById('deleteMachineButton').classList.add('disabled');
    }

    init();
</script>
{% endblock %}
