{% extends 'base.html' %}
{% block content_2 %}
{% if not user.is_authenticated %}
    <script>
        window.location.href = "/";
    </script>
{% endif %}

<h2>Edit Setup:</h2>
<div class = "parts"> 
    <div class="splitleft">
        <div class="centered">
            <form name = "editForm" id = "editForm" action = "processSetup"  method = "POST">
                    {% csrf_token %} 
                <input type = "hidden" id = "functionMode" name = "functionMode" value = "UNEDITED"/>
                <table>
                    <tr>
                        <td><label id="labelscode" for = "scode" >Setup Code</label></td>
                        <td>
                            <input  type = "text" name = "scode" id = "scode" value = "{{selectedSetup.id_code}}" 
                                    pattern="[A-Za-z0-9]*" maxlength = "15" size = "42"  required>
                        </td>
                    </tr>
                    <tr>
                        <td><label id="labelsname" for = "sname" >Setup Name</label></td>
                        <td>
                            <input  type = "text" name = "sname" id = "sname" value = "{{selectedSetup.name}}" 
                                    onchange = "markDirty();" pattern="[A-Za-z0-9-_]*" maxlength = "42" size = "42"  required>
                        </td>
                    </tr>
                    <tr>
                        <td><label id="labelsdesc" for = "sdesc" >Setup Description</label></td>
                        <td>
                            <textarea name = "sdesc" id = "sdesc" rows = "8" cols = "43"  
                                onchange = "markDirty();">{{selectedSetup.desc}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <input type="submit" id = "editsetupbtn" name = "editsetupbtn"  class="w3-button w3-blue" 
                                                value="Submit" >
                                    </td>
                                    <td>
                                        <input id = "cancelbtn" name = "cancelbtn" type="submit" class="w3-button w3-blue" 
                                                onclick = "setCancel()" value="Cancel">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table> 
            </form>
        </div>
    </div>
    
    <div class="splitright">
        <div class="centered">
        </div>
    </div>
</div>

<script>
    function markDirty(){
        document.getElementById('functionMode').value = "EDITED";
        document.getElementById('editsetupbtn').classList.remove('disabled');
    }

    function onDelBtnClicked(index){
        deleteRow(index);
        markDirty();
    }

    function setCancel(){
        document.getElementById('scode').removeAttribute('required');
        
        document.getElementById('sname').removeAttribute('required');
        document.getElementById('sname').removeAttribute('pattern');

        document.getElementById('sdesc').removeAttribute('required');
        document.getElementById('sdesc').removeAttribute('pattern');

        document.getElementById('editForm').removeAttribute("onsubmit")
        document.getElementById('functionMode').value = "CANCEL";
    }

    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
    function init(){
        document.getElementById('editsetupbtn').classList.add('disabled');
        document.getElementById('scode').classList.add('disabled');
    }

    init();

</script>
{% endblock %}
