{% extends 'base.html' %}
{% block content_2 %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}
    <meta id="setupsListJsondata" data="{{setupsListJson}}" />
    <h2>Setups:</h2>

    <div class = "parts"> 

        <div class="splitleft">
            <div class="centered">
                <form name = "setupsForm" action = "processSetup" method = "POST">
                    {% csrf_token %} 
                    <table id = "setuptable"  width = 95% border = 1>
                        <tr>
                            <th  width="20%">Setup ID</th>
                            <th  width="auto">Setup name</th>
                            <th  width="5%"></th>
                        </tr>
                        {% for s in setups %}
                        <tr>
                            <td>{{s.id_code}}</td>
                            <td>{{s.name}}</td>
                            <td><input type = "radio" value = "{{s.id_code}}" id = "editSetup{{s.id_code}}" name = "editSetup" 
                                class = "selected" 
                                onchange= 
                                "setupSelected('{{s.id_code}}');">
                                </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div id = "buttondiv" align = "right">

                        <input type = "hidden" id = "selectedSetup" name = "selectedSetup" value = "NO_SETUP"/>
                        <input type = "hidden" id = "functionMode" name = "functionMode" value = "ADD"/>
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" id = "addSetupButton" class="w3-button w3-blue" value=" New "
                                            onclick = "setFunctionMode('ADD')">
                                </td>
                                <td>
                                    <input type="submit" id = "editSetupButton" class="w3-button w3-blue" value="Edit"
                                            onclick = "setFunctionMode('EDIT')">
                                </td>
                                <td>
                                    <input type="submit" id = "deleteSetupButton" class="w3-button w3-blue" value="Delete"
                                            onclick = "setFunctionMode('DELETE')">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
      
        <div class="splitright">
            <div class="centered">
                <table>
                    <tr>
                        <td><label id="labelscode" for = "scode" disabled>Setup Code</label></td>
                        <td><input type = "text" name = "scode" id = "scode" disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelsname" for = "sname" >Setup Name</label></td>
                        <td><input type = "text" name = "sname" id = "sname" disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelsdesc" for = "sdesc" >Setup Description</label></td>
                        <td>
                            <textarea name = "sdesc" id = "sdesc" rows = "8" cols = "30"  disabled></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label id="labelsops" for = "sdesc" disable ></label></td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script>

    function setFunctionMode(fMode){
        document.getElementById('functionMode').value =  fMode;
    }

    function setupSelected(st){
        document.getElementById('editSetupButton').classList.remove('disabled');
        document.getElementById('deleteSetupButton').classList.remove('disabled');
        document.forms["setupsForm"]['selectedSetup'].value = st;

        var setupsListJson = document.getElementById('setupsListJsondata').getAttribute("data");
        var setupsList = JSON.parse(setupsListJson);

        document.getElementById('scode').setAttribute('value', setupsList[st]['id_code'])
        document.getElementById('sname').setAttribute('value', setupsList[st]['name'])
        document.getElementById('sdesc').innerHTML = setupsList[st]['desc'];
    }

    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
    function init(){
        document.getElementById('editSetupButton').classList.add('disabled');
        document.getElementById('deleteSetupButton').classList.add('disabled');
    }

    init();
</script>
{% endblock %}
