{% extends 'timesheet/timesheet_base.html' %}

{% block content_meta %}
    <meta id = "nonProdTasksJSONTag"         data = "{{nonProdTasksJSON}}" />
    <meta id = "currentDateTag"               data = "{{currentDate}}" />
    <meta id = "allTimeSheetEntriesJSONTag"   data = "{{allTimeSheetEntriesJSON}}" />
    <meta id = "lastEntryEndTime"            data = "{{lastEntryEndTime}}" />

{% endblock %}

{% block content_main %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}

    <form name = "usersForm" action = "processRequest" method = "POST" onsubmit = "return isInputValid();">
        <!-- <form name = "usersForm" action = "processTimeSheet" method = "POST" onsubmit = "return isInputValid();"> -->
            {% csrf_token %} 
        <input type = "hidden" id = "functionMode" name = "functionMode" value = "UNADDED"/>
        <input type = "hidden" id = "pageready" name = "pageready" value = "FALSE"/>
        <table id = "usertable"  width = 100% border = 0>
            <tr>
                <td>
                    <div class = "tablesetupselect">
                        <label for="timesheetdate">Date:</label>
                    </div>
                </td>
                <td>
                    <div class = "tablesetupselect">
                        <input type="text" id="timesheetdate" name="timesheetdate" onchange = "dateSelected();"  readonly="readonly">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class = "tablesetupselect">
                        <label>Non-prod Task</label>
                    </div>
                </td>
                <td>
                    <div id = "selectsetupdiv" class = "tablesetupselect">
                        <select id="nonprodtaskselect" name="nonprodtaskselect" style="min-width:40%;" onchange="nonProdTaskSelected();">
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class = "tablesetupselect">
                        <label>Description</label>
                    </div>
                </td>
                <td>
                    <div id = "selectsetupdiv" class = "tablesetupselect">
                        <input id="description" name="description" style="min-width:40%;" />
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class = "tablesetupselect">
                        <label for="timesheetstart">Start:</label>
                    </div>
                </td>
                <td>
                    <div class = "tablesetupselect">
                        <input type="time" id="timesheetstart" name="timesheetstart"  onchange = "timeStartSelected();">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class = "tablesetupselect">
                        <label for="timesheetend">End:</label>
                    </div>
                </td>
                <td>
                    <div class = "tablesetupselect">
                        <input type="time" id="timesheetend" name="timesheetend"  onchange = "timeEndSelected();">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id = "newtimeentrybtn" name = "newtimeentrybtn"  
                            class="w3-button w3-blue" value="Submit" onclick = "setMode('ADDED_NP');">                           
                </td>
                <td>
                    <input type="submit" id = "cancelbtn" name = "cancelbtn"  
                            class="w3-button w3-blue" value="Cancel"  onclick = "setMode('CANCEL');">                           
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
{% block content_script_1 %}
    <script>
        function markDirty(){
            if (document.getElementById('pageready').value == "TRUE"){
                document.getElementById('newtimeentrybtn').classList.remove('disabled');
            }
        }

        function setMode(currentMode){
            document.getElementById('functionMode').value = currentMode;
        }

        function nonProdTaskSelected(){
            markDirty();
        }

        function dateSelected(){
            markDirty();
        }

        function timeStartSelected(){
            markDirty();
        }

        function timeEndSelected(){
            markDirty();
        }

        function isInputValid(){
            if (document.getElementById('functionMode').value == "CANCEL"){
                return true;
            }

            var invalidVal                      = "Select Option"
            var taskVal                      = document.getElementById('nonprodtaskselect').value
            if ( taskVal == invalidVal || taskVal == ""){
                console.log('InValid non-prod Task')
                return false;
            }

            var dateVal                         = document.getElementById('timesheetdate').value
            if (!isDateValid(dateVal)){
                return false;
            }

            var startTime                       = document.getElementById('timesheetstart').value
            var endTime                         = document.getElementById('timesheetend').value
            if (!validInterval(dateVal, startTime, endTime)){
                return false;
            }
            return true;   // change later to true
        }

        function isDateValid(dateValue){
            today                               = new Date();
            dateParts                           = dateValue.split("-")

            year                                = parseInt(dateParts[0]);
            month                               = parseInt(dateParts[1]);
            day                                 = parseInt(dateParts[2]);

            dt1                                 = Date.UTC(year, month - 1, day);
            dt2                                 = Date.UTC(today.getFullYear(), today.getMonth(), today.getDate());

            diff                                = Math.floor((dt2 - dt1) /(1000 * 60 * 60 * 24));
            if (diff < 0){
                return false;
            }
            return true;
        }

        function validInterval(day, startTime, endTime){
            var todayDate                   = new Date();
            var today                       = new Date (todayDate.getFullYear(), 
                                                        todayDate.getMonth(), 
                                                        todayDate.getDate(), 
                                                        todayDate.getHours(), 
                                                        todayDate.getMinutes());
            dateComp                        = 0;
            year                            = day.split("-")[0];
            month                           = day.split("-")[1] - 1;
            dayOfMonth                      = day.split("-")[2];

            startHours                      = startTime.split(":")[0];
            startMins                       = startTime.split(":")[1];
            var dateTimeStart               = new Date(year, month, dayOfMonth, startHours, startMins);

            endHours                        = endTime.split(":")[0];
            endMins                         = endTime.split(":")[1];
            var dateTimeEnd                 = new Date(year, month, dayOfMonth, endHours, endMins);
        
            if (dateTimeStart.getTime() >= today.getTime()){
                // THIS CAN BE BASED ON MINIMUM ENTRY TIME DURATION
                console.log('InValid start date-time')
                return false;
            }
            if (dateTimeEnd.getTime() > today.getTime()){
                // END TIME CAN BE CURRENT TIME
                console.log('InValid end date-time')
                return false;
            }
            if (dateTimeStart.getTime() >= dateTimeEnd.getTime()){
                console.log('InValid Time Interval')
                return false;
            }
            try {
                var allTimeSheetEntriesJSON         = document.getElementById('allTimeSheetEntriesJSONTag').getAttribute("data");
                allTimeSheetEntries                 = JSON.parse(allTimeSheetEntriesJSON)

                intervalStart = stringToTime(startTime);
                intervalEnd = stringToTime(endTime);
                no_entries = allTimeSheetEntries.length

                if (no_entries > 0){
                    first_start     = stringToTime(allTimeSheetEntries[0][0]);
                    first_end       = stringToTime(allTimeSheetEntries[0][1]);
                    last_start     = stringToTime(allTimeSheetEntries[no_entries - 1][0]);
                    last_end       = stringToTime(allTimeSheetEntries[no_entries - 1][1]);
                    if (intervalStart < first_start){
                        // before first
                        if (intervalEnd > first_start){
                            console.log('ITS FIRST ENTRY WITH OVERLAP');
                            return false;
                        } else {
                            console.log('ITS FIRST ENTRY');
                            return true; // overlap with first one
                        }
                    } 
                    
                    if (intervalStart > last_start){
                        // after last
                        if (intervalStart < last_end){
                            console.log('ITS LAST ENTRY WITH OVERLAP');
                            return false; // overlap with last
                        } else {
                            console.log('ITS LAST ENTRY');
                            return true; // its last entry
                        }
                    }

                    index = no_entries - 1;
                    notFound = true;
                    var currentStartTime;
                    while (index > -1 && notFound){
                        currentStartTimeEntryStr        = allTimeSheetEntries[index][0];
                        currentStartTime                = stringToTime(allTimeSheetEntries[index][0]);
                        currentEndTime                  = stringToTime(allTimeSheetEntries[index][1]);
                        notFound = intervalStart <  currentStartTime;
                        index -= 1;
                    }

                    entry_before_start     = stringToTime(allTimeSheetEntries[index+1][0]);
                    entry_before_end     = stringToTime(allTimeSheetEntries[index+1][1]);
                    entry_after_start     = stringToTime(allTimeSheetEntries[index+2][0]);
                    entry_after_end     = stringToTime(allTimeSheetEntries[index+2][1]);
                    if (intervalStart < entry_before_end){
                        console.log('ITS IN OVERLAP WITH PREVIOUS ENTRY');
                        return false;
                    } 

                    if (intervalEnd > entry_after_start){
                        console.log('ITS OVERLAP WITH NEXT ENTRY');
                        return false;
                    } 
                    console.log('ITS VALID IN BETWEEN ENTRY');
                } else {
                    console.log('NO ENTRIES');
                    return true;
                }
            } catch (error){
                alert ('Error: ' + error);
            }
            return true;
        }

        function stringToTime(timeAsString, ){
            hours               = timeAsString.split(":")[0];
            mins                = timeAsString.split(":")[1];
            var time            = new Date(0, 0, 0, hours, mins).getTime();
            return time;
        }

        function init(){
            document.getElementById('newtimeentrybtn').classList.add('disabled');

            defaultString                       = "Select Option";
            var nonProdTasksJSON                = document.getElementById('nonProdTasksJSONTag').getAttribute("data");
            var nonProdTasks                        = JSON.parse(nonProdTasksJSON);
            var selectNonProdTaskTag            = document.getElementById('nonprodtaskselect');
            // ADD SELECT OPTION TEXT
            var optionTag                       = document.createElement('option');
            var attValue                        = document.createAttribute('value');
            attValue.value                      = defaultString;
            optionTag.setAttributeNode(attValue); 
            var attSelected                     = document.createAttribute('selected');
            attSelected.value                   = 'true';
            optionTag.setAttributeNode(attSelected); 
            optionTag.innerHTML                 = defaultString;

            selectNonProdTaskTag.appendChild(optionTag);     

            for (task_id in nonProdTasks){
                var strLabel                    = task_id + ":" + nonProdTasks[task_id]
                var optionTag                   = document.createElement('option');
                var attValue                    = document.createAttribute('value');
                attValue.value                  = task_id;
                optionTag.setAttributeNode(attValue); 
                optionTag.innerHTML             = strLabel;
                selectNonProdTaskTag.appendChild(optionTag);     
            }
            var today                           = new Date();
            var currentDate                     = document.getElementById('currentDateTag').getAttribute("data");
            document.getElementById('timesheetdate').value = currentDate;
            curHours                            = today.getHours();
            curMins                             = today.getMinutes();
            if (curMins < 10){
                curMins                         = "0" + curMins;
            }
            if (curHours < 10){
                curHours                        = "0" + curHours;
            }
            currentTime                         = curHours + ":" +curMins;

            lastEntryEndTime                    = document.getElementById('lastEntryEndTime').getAttribute("data")
            document.getElementById("timesheetstart").value     = lastEntryEndTime;
            document.getElementById('timesheetend').value       = lastEntryEndTime;
            document.getElementById('pageready').value          = "TRUE";
        }
        init();
    </script>
{% endblock %}