{% extends 'timesheet/timesheet_base.html' %}
{% block content_main %}
    <form name = "usersForm" action = "timesheet_entries" method = "POST">
        {% csrf_token %} 
        <table id = "usertable"  width = 70% border = 0>
            <tr>
                <td><label>User</label></td>
                <td>
                    <div class = "tablesetupselect">
                        <select id="username" name="username" style="min-width:100%;">
                                {% for u in activeUsers %}
                                <option value="{{u.username}}">{{u.username}}</option>
                            {% endfor %}
                            </select>
                            </div>
                </td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td>
                    <input type = "password" id="password" name="password"  style="min-width:100%;">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" id = "authuserbtn" name = "authuserbtn"  
                            class="w3-button w3-blue" value="Submit" >                           
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
{% block content_script_1 %}
    <script>
        function userSelected(){
            var activeUsersListJson = document.getElementById('activeUsersListJson').getAttribute("data");
            activeUsersList = JSON.parse(activeUsersListJson)
            var selectedUser = document.getElementById('username').value;
        }

    </script>
{% endblock %}
