{% extends 'base.html' %}

{% block content_2 %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}

    <meta id="operatorsListJsonTag" data="{{operatorsListJson}}" />
    <meta id="allSetupsListJsonTag" data="{{allSetupsListJson}}" />
    <h2>Operators:</h2>
    <div class = "parts">
        <div id = "splitLeft" class="splitleft">
            <div class="centered">
                <form name = "usersForm" action = "processUser" method = "POST">
                    {% csrf_token %} 
                    <table  id = "usertable" 
                        style = "width: calc(100% - 17px); border-spacing: 0; border: 2px solid black;">
                        <thead style = "width: calc(100% - 17px); display: block; height: 25px; overflow-y: auto; ">
                            <tr>
                                <th  style="width : 250px;" >User Name</th>
                                <th  style="width : 125px;" >First Name</th>
                                <th  style="width : 125px;" >Last Name</th>
                                <th  style="width : 30px;" ></th>
                                <!-- THIS NEEDS TO IDENTIFY SCROLL BAR DYNAMICALLY AND ADJUST
                                <th  style="width : 250px; border-right: 2px solid black;" >User Name</th>
                                <th  style="width : 125px; border-right: 2px solid black;" >First Name</th>
                                <th  style="width : 125px; border-right: 2px solid black;" >Last Name</th>
                                <th  style="width : 30px; border-right: 2px solid black;" ></th> 
                                -->
                            </tr>
                        </thead>
                        <tbody style = "max-height: 340px; display: block; overflow-y: auto; overflow-x: hidden; border-top: 2px solid black;">
                            {% for u in operators %}
                            <tr>
                                <td style="width : 250px; border-right: 2px solid black;">{{u.user.username}}</td>
                                <td style="width : 125px; border-right: 2px solid black;">{{u.user.first_name}}</td>
                                <td style="width : 125px; border-right: 2px solid black;">{{u.user.last_name}}</td>

                                <td style="width : 30px; border-right: 2px solid black;">
                                    <input type = "radio" value = "{{u.user.username}}" id = "editUser{{u.user.username}}" name = "editUser" 
                                    class = "selected" 
                                    onchange= 
                                    "userSelected('{{u.user.username}}');">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div id = "buttondiv" align = "right">
                        <input type = "hidden" id = "selectedUser" name = "selectedUser" value = "NO_SETUP"/>
                        <input type = "hidden" id = "functionMode" name = "functionMode" value = "ADD"/>
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" id = "addUserButton" class="w3-button w3-blue" value=" New "
                                            onclick = "setFunctionMode('ADD')">
                                </td>
                                <td>
                                    <input type="submit" id = "editUserButton" class="w3-button w3-blue" value="Edit"
                                            onclick = "setFunctionMode('EDIT')">
                                </td>
                                <td>
                                    <input type="submit" id = "deleteUserButton" class="w3-button w3-blue" value="Delete"
                                            onclick = "setFunctionMode('DELETE')">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div id = "splitRight" class="splitright">
            <div class="centered">
                <table  id = "rightsidetable" name = "rightsidetable" width = "95%">
                    <tr>
                        <td>
                            <table width = "100%">
                                <tr>
                                    <td><label id="labeluname" for = "userName">User Name</label></td>
                                    <td><input type = "text" name = "userName" id = "userName" size = "41" disabled></td>
                                </tr>
                                <tr>
                                    <td><label id="labelfname" for = "firstName" >First Name</label></td>
                                    <td><input type = "text" name = "firstName" id = "firstName" size = "41" disabled></td>
                                </tr>
                                <tr>
                                    <td><label id="labellname" for = "lastName" >Last Name</label></td>
                                    <td><input type = "text" name = "lastName" id = "lastName" size = "41" disabled></td>
                                </tr>
                                <tr>
                                    <td><label id="labelemail" for = "email" >email</label></td>
                                    <td><input type = "text" name = "email" id  = "email" size = "41" disabled></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><label id="labelsetups" for = "setupList" disable ></label></td>
                                    </td>
                                </tr>
                                            <tr>
                                    <td></td>
                                    <td id = "setupList">
                                        <!-- LIST WILL DYNAMICALLY APPEAR HERE-->
                                    </td>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>  
                                </table>
                </table>  
                <div id = "errormessages">
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div>  
                    </div>  
                </div>  
            </div>
        </div>
    </div>
<script>

    function setFunctionMode(fMode){
        document.getElementById('functionMode').value =  fMode;
    }

    function init(){
        editButton = document.getElementById('editUserButton');
        document.getElementById('editUserButton').classList.add('disabled');
        document.getElementById('deleteUserButton').classList.add('disabled');
    }
    init();

    function userSelected(user){
        document.getElementById('editUserButton').classList.remove('disabled');
        document.getElementById('deleteUserButton').classList.remove('disabled');
        document.forms["usersForm"]['selectedUser'].value = user;

        var operatorsListJson = document.getElementById('operatorsListJsonTag').getAttribute("data");
        var operatorsList = JSON.parse(operatorsListJson);
        var setups = operatorsList[user]['setups'];
        uName = document.getElementById('userName');
        document.getElementById('userName').setAttribute('value', operatorsList[user]['username']);
        document.getElementById('firstName').setAttribute('value', operatorsList[user]['first_name']);
        document.getElementById('lastName').setAttribute('value', operatorsList[user]['last_name']);
        document.getElementById('email').setAttribute('value', operatorsList[user]['email']);
        var opTDTag = document.getElementById('setupList');

        //# CLEAR PREVIOUS LIST BEFORE POPULATING
        while (opTDTag.hasChildNodes()) {  
            opTDTag.removeChild(opTDTag.firstChild);
        }

        // ADD ACTUAL LIST OF SETUPS AS  TABLE
        var tableTag = document.createElement('TABLE');
        opTDTag.appendChild(tableTag)


        for (let [key, val] of Object.entries(setups)) {

            var trTag = document.createElement('TR');
            tableTag.appendChild(trTag)
            var tdTag = document.createElement('TD');
            trTag.appendChild(tdTag)
    
            var attType = document.createAttribute('type');
            attType.value = 'text';

            var attValue = document.createAttribute('value');
            attValue.value = val['name'];

            var attDisabled = document.createAttribute('disabled');
            attDisabled.value = 'true';

            var attSize = document.createAttribute('size');
            attSize.value = '30';

            var inputTag = document.createElement('input');
            inputTag.setAttributeNode(attType); 
            inputTag.setAttributeNode(attValue); 
            inputTag.setAttributeNode(attDisabled); 
            inputTag.setAttributeNode(attSize); 
            tdTag.appendChild(inputTag)
        }       

        // ADD SETUPS LIST LABEL
        var lableTag = document.getElementById('labelsetups');
        lableTag.innerHTML = "<h3>Setups</h3>";

    }

    function uncheckRadioButtons(){
        var radList = document.getElementsByName('editUser');
        for (var i = 0; i < radList.length; i++) {
            if(radList[i].checked) radList[i].checked = false;
        }
    }
        
/*    
    function markDirty(){
        enableSubmitButton();
    }

    function clearLeftSetupSelectBox(){
        selectedSetupTag = document.getElementById('totalsetups');
        selectedSetupTag.options.length = 0;
    }

    function clearRightSetupSelectBox(){
        selectedSetupTag = document.getElementById('selectedsetups');
        selectedSetupTag.options.length = 0;
    }

    function clearUserData(){
        document.getElementById('firstName').value = "";
        document.getElementById('lastName').value = "";
        document.getElementById('userName').value = "";
        document.getElementById('email').value = "";

        document.getElementById('pword').value = "";
        document.getElementById('rpword').value = "";
        clearLeftSetupSelectBox();
        clearRightSetupSelectBox();
    }

    function clearPasswordData(){
        document.getElementById('pword').value = "";
        document.getElementById('rpword').value = "";
    }

    function disableUserName(){
        if (!document.getElementById('userName').classList.contains('disabled')){
            document.getElementById('userName').classList.add('disabled');
        }
    }

    function enableUserName(){
        if (document.getElementById('userName').classList.contains('disabled')){
            document.getElementById('userName').classList.remove('disabled');
        }
    }

    function enableUserDetails(){
        if (document.getElementById('firstName').classList.contains('disabled')){
            document.getElementById('firstName').classList.remove('disabled');
        }
        if (document.getElementById('lastName').classList.contains('disabled')){
            document.getElementById('lastName').classList.remove('disabled');
        }
        if (document.getElementById('email').classList.contains('disabled')){
            document.getElementById('email').classList.remove('disabled');
        }
        if (document.getElementById('labelfname').classList.contains('disabled')){
            document.getElementById('labelfname').classList.remove('disabled');
        }
        if (document.getElementById('labellname').classList.contains('disabled')){
            document.getElementById('labellname').classList.remove('disabled');
        }
        if (document.getElementById('labeluname').classList.contains('disabled')){
            document.getElementById('labeluname').classList.remove('disabled');
        }
        if (document.getElementById('labelemail').classList.contains('disabled')){
            document.getElementById('labelemail').classList.remove('disabled');
        }
        if (document.getElementById('selectsetups').classList.contains('disabled')){
            document.getElementById('selectsetups').classList.remove('disabled');
        }
        if (document.getElementById('labelmoperations').classList.contains('disabled')){
            document.getElementById('labelmoperations').classList.remove('disabled');
        }
    }

    function disableUserDetails(){
        if (!document.getElementById('firstName').classList.contains('disabled')){
            document.getElementById('firstName').classList.add('disabled');
        }
        if (!document.getElementById('lastName').classList.contains('disabled')){
            document.getElementById('lastName').classList.add('disabled');
        }
        if (!document.getElementById('email').classList.contains('disabled')){
            document.getElementById('email').classList.add('disabled');
        }
        if (!document.getElementById('labelfname').classList.contains('disabled')){
            document.getElementById('labelfname').classList.add('disabled');
        }
        if (!document.getElementById('labellname').classList.contains('disabled')){
            document.getElementById('labellname').classList.add('disabled');
        }
        if (!document.getElementById('labeluname').classList.contains('disabled')){
            document.getElementById('labeluname').classList.add('disabled');
        }
        if (!document.getElementById('labelemail').classList.contains('disabled')){
            document.getElementById('labelemail').classList.add('disabled');
        }
        if (!document.getElementById('selectsetups').classList.contains('disabled')){
            document.getElementById('selectsetups').classList.add('disabled');
        }
        if (!document.getElementById('labelmoperations').classList.contains('disabled')){
            document.getElementById('labelmoperations').classList.add('disabled');
        }
        disableUserName();
    }

    function enablePasswordDetails(){
        pwordField = document.getElementById('pword');
        rpwordField = document.getElementById('rpword');
        pwordLabel = document.getElementById('labelpword');
        rpwordLabel = document.getElementById('labelrpword');

        pwordField.required = true;
        rpwordField.required = true;

        pwordField.value = "";
        rpwordField.value = "";

        if (pwordField.classList.contains('disabled')){
            pwordField.classList.remove('disabled');
        }
        if (rpwordField.classList.contains('disabled')){
            rpwordField.classList.remove('disabled');
        }
        if (pwordLabel.classList.contains('disabled')){
            pwordLabel.classList.remove('disabled');
        }
        if (rpwordLabel.classList.contains('disabled')){
            rpwordLabel.classList.remove('disabled');
        }
    }

    function disablePasswordDetails(){
        pwordField = document.getElementById('pword');
        rpwordField = document.getElementById('rpword');
        pwordLabel = document.getElementById('labelpword');
        rpwordLabel = document.getElementById('labelrpword');

        pwordField.required = false;
        rpwordField.required = false;

        pwordField.value = "";
        rpwordField.value = "";

        if (!pwordField.classList.contains('disabled')){
            pwordField.classList.add('disabled');
        }
        if (!rpwordField.classList.contains('disabled')){
            rpwordField.classList.add('disabled');
        }
        if (!pwordLabel.classList.contains('disabled')){
            pwordLabel.classList.add('disabled');
        }
        if (!rpwordLabel.classList.contains('disabled')){
            rpwordLabel.classList.add('disabled');
        }
    }

    function enableResetPassword(){
        document.getElementById("updatepword").checked = false;
        if (document.getElementById("updatepword").classList.contains('disabled')){
            document.getElementById("updatepword").classList.remove('disabled');
        }
        if (document.getElementById("labelupdatepword").classList.contains('disabled')){
            document.getElementById("labelupdatepword").classList.remove('disabled');
        }
    }

    function disableResetPassword(){
        document.getElementById("updatepword").checked = false;
        if (!document.getElementById("updatepword").classList.contains('disabled')){
            document.getElementById("updatepword").classList.add('disabled');
        }
        if (!document.getElementById("labelupdatepword").classList.contains('disabled')){
            document.getElementById("labelupdatepword").classList.add('disabled');
        }
    }

    function enableSubmitButton(){
        if (document.getElementById("userDetailsSubmit").classList.contains('disabled')){
            document.getElementById("userDetailsSubmit").classList.remove('disabled');
        }
    }

    function disableSubmitButton(){
        if (!document.getElementById("userDetailsSubmit").classList.contains('disabled')){
            document.getElementById("userDetailsSubmit").classList.add('disabled');
        }
    }

    function populateAllSetupsLeftSide(){
        // USE WHEN NEW USER
        var allSetupsListJson = document.getElementById('allSetupsListJsonTag').getAttribute("data");
        var allSetupsList = JSON.parse(allSetupsListJson);

        unselectedSetupTag = document.getElementById('totalsetups');
        clearLeftSetupSelectBox();

        for (setup in allSetupsList){
            optionText = allSetupsList[setup]['id_code'] + "-" + allSetupsList[setup]['name']
            var option = document.createElement("option");
            option.text = optionText;
            unselectedSetupTag.add(option);
        }
    }

    function populateOperatorSetupsLeftSide(){
        var operatorsListJson = document.getElementById('operatorsListJsonTag').getAttribute("data");
        var operatorsList = JSON.parse(operatorsListJson);
        var setupsForOperatorExisting = operatorsList[username]['setups'];

        var allSetupsListJson = document.getElementById('allSetupsListJsonTag').getAttribute("data");
        var allSetupsList = JSON.parse(allSetupsListJson);

        // -------- POPULATE LEFT SIDE SELECT BOX -----
        unselectedSetupTag = document.getElementById('totalsetups');
        unselectedSetupTag.options.length = 0;

        for (setup in allSetupsList){
            if (!(allSetupsList[setup]['id_code'] in setupsForOperatorExisting)){
                optionText = allSetupsList[setup]['id_code'] + "-" + allSetupsList[setup]['name']
                var option = document.createElement("option");
                option.text = optionText;
                unselectedSetupTag.add(option);
            }
        }
    }
    
    function populateOperatorSetupsRightSide(){
        var operatorsListJson = document.getElementById('operatorsListJsonTag').getAttribute("data");
        var operatorsList = JSON.parse(operatorsListJson);
        var setupsForOperatorExisting = operatorsList[username]['setups'];
        selectedSetupTag = document.getElementById('selectedsetups');
        // -------- POPULATE LEFT SIDE SELECT BOX -----
        selectedSetupTag.options.length = 0;
        for (setup in setupsForOperatorExisting){
            optionText = setupsForOperatorExisting[setup]['id_code'] + "-" + setupsForOperatorExisting[setup]['name']
            var option = document.createElement("option");
            option.text = optionText;
            selectedSetupTag.add(option);
        }
    }
*/
    /**TODO: CUSTOMIZE THE FUNCTION  
    function selectOps(choice_mode, totalOperationsListJson){
        var allSetupsListJson = document.getElementById('allSetupsListJsonTag').getAttribute("data");
        var allSetupsList = JSON.parse(allSetupsListJson);
        leftSideSetupBox = document.getElementById('totalsetups');
        rightSideSetupBox = document.getElementById('selectedsetups');

        switch(choice_mode) {
            case "SELECT_ALL":
                selectedSetups = leftSideSetupBox.options;
                const lsl = selectedSetups.length
                for (i = lsl; i > 0; i--){
                    selectedSetups[i-1].selected = false
                    rightSideSetupBox.options.add(selectedSetups[i-1]);
                }
            break;
            case "SELECT":
                selectedSetups = leftSideSetupBox.options;
                const ls = selectedSetups.length
                for (i = ls; i > 0; i--){
                    if (selectedSetups[i-1].selected){
                        selectedSetups[i-1].selected = false
                        rightSideSetupBox.options.add(selectedSetups[i-1]);
                    }
                }
                break;
            case "DESELECT_ALL":
                selectedSetups = rightSideSetupBox.options;
                const lright = selectedSetups.length
                for (i = lright; i > 0; i--){
                    selectedSetups[i-1].selected = false
                    leftSideSetupBox.options.add(selectedSetups[i-1]);
                }
                break;
            case "DESELECT":
                selectedSetups = rightSideSetupBox.options;
                const ld = selectedSetups.length
                for (i = ld; i > 0; i--){
                    if (selectedSetups[i-1].selected){
                        selectedSetups[i-1].selected = false
                        leftSideSetupBox.options.add(selectedSetups[i-1]);
                    }
                }
                break;
            default:
        }
        markDirty()
    }
 
    function prepareForUpdate(){
        if (document.getElementById("usertable").classList.contains('disabled')){
            document.getElementById("usertable").classList.remove('disabled');
        }
        if (document.getElementById("deleteButton").classList.contains('disabled')){
            document.getElementById("deleteButton").classList.remove('disabled');
        }
        if (document.getElementById("mode").classList.contains('disabled')){
            document.getElementById("mode").classList.remove('disabled');
        }
        document.getElementById('mode').value = "Add New User";
        clearUserData();
        disableUserDetails();
        disablePasswordDetails();
        disableResetPassword();
        disableSubmitButton();
        document.getElementById('userOperation').value = "UPDATE";
    }
**/
/*
    function prepareForNewUser(){
        if (!document.getElementById("usertable").classList.contains('disabled')){
            document.getElementById("usertable").classList.add('disabled');
        }
        if (!document.getElementById("deleteButton").classList.contains('disabled')){
            document.getElementById("deleteButton").classList.add('disabled');
        }
        if (document.getElementById("userName").classList.contains('disabled')){
            document.getElementById("userName").classList.remove('disabled');
        }
        if (document.getElementById("mode").classList.contains('disabled')){
            document.getElementById("mode").classList.remove('disabled');
        }
        document.getElementById('mode').value = "Update User";
        enableUserDetails();
        enablePasswordDetails();
        disableResetPassword();
        clearUserData();
        clearPasswordData();
        uncheckRadioButtons();
        disableSubmitButton();
        document.getElementById('userOperation').value = "NEW_USER";
        populateAllSetupsLeftSide();
    }
*/
    /**
        THIS METHOD GETS CALLED WHEN ADD USER/ UPDATE USER BUTTON IS CLICKED.
        THIS METHOD TGLES THE MODE OF PAGE. 
    */
/*
    function toggleButton(){
        var btnText = document.getElementById('mode');
        if (btnText.value == "Update User"){
            prepareForUpdate();
        } else if (btnText.value == "Add New User"){
            prepareForNewUser();
        } else {
            // THIS WILL NEVER BE THE CASE. OPTIONALLY LOG ERROR HERE
        }
    }
*/

    /**
        THIS METHOD TAKES CARE OF ENABLING/ DISABLING PARTS FORM USER DETAILS
        BASED ON "RESET PASSWORD" CHECK BOX STATUS 
    */
/*
    function togglePasswordEdit(){
        checkBox = document.getElementById('updatepword');
        if (checkBox.checked == true){
            enablePasswordDetails();
        }
        else {
            disablePasswordDetails();
        }
    }        

    function compileselections(){
        try {
            // OPERATIONS
            leftSideSetupBox = document.getElementById('totalsetups');
            rightSideSetupBox = document.getElementById('selectedsetups');
            operationSelection = document.getElementById('setupSelection');

            leftSideSetups = "";
            rightSideSetups = "";

            stpslist = leftSideSetupBox.options;
            const lscs = stpslist.length
            for (i = lscs; i > 0; i--){
                stName = (stpslist[i-1].text).split("-")[1]
                leftSideSetups += stName + ","
            }

            stpslist = rightSideSetupBox.options;
            const ldcs = stpslist.length
            for (i = ldcs; i > 0; i--){
                stName = (stpslist[i-1].text).split("-")[1]
                rightSideSetups += stName + ","
            }

            setupSelection.value = leftSideSetups + ";" + rightSideSetups
//            console.log(setupSelection.value)
        } catch (err) {
            console.log(err);
            return false;
        }
        return true;
    }
*/
    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
</script>
{% endblock %}
