{% extends 'base.html' %}
{% block content_2 %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}
    <meta id="nonprodtasksListJsondata" data="{{nonprodtasksListJson}}" />
    
    <h2>Non production Tasks:</h2>

    <div class = "parts"> 

        <div class="splitleft">
            <div class="centered">
                <form name = "nonprodtasksForm" action = "processNonProdTask" method = "POST">
                    {% csrf_token %} 
                    <table  id = "nonprodtasktable" 
                            style = "width: calc(100% - 17px); border-spacing: 0; border: 2px solid black;">
                        <thead style = "width: calc(100% - 17px); display: block; height: 25px; overflow-y: auto; ">
                            <tr>
                                <th  style="width : 150px;" >Id</th>
                                <th  style="width : 350px;">Name</th>
                                <th  style="width : 30px;"></th>
<!-- THIS NEEDS TO IDENTIFY SCROLL BAR DYNAMICALLY AND ADJUST
                                <th  style="width : 150px; border-right: 2px solid black;" >Id</th>
                                <th  style="width : 350px; border-right: 2px solid black;">Name</th>
                                <th  style="width : 30px; border-right: 2px solid black;"></th>
 -->
                            </tr>
                        </thead>
                        <tbody style = "max-height: 340px; display: block; overflow-y: auto; overflow-x: hidden; border-top: 2px solid black;">
                            {% for nps in nonprodtasks %}
                            <tr>
                                <td style="width : 150px; border-right: 2px solid black;">{{nps.id_code}}</td>
                                <td style="width : 350px; border-right: 2px solid black;">{{nps.name}}</td>
                                <td style="width : 30px; border-right: 2px solid black;">
                                    <input  type = "radio" value = "{{nps.id_code}}" id = "editNonprodTask{{nps.id_code}}" 
                                            name = "editNonprodTask" class = "selected" onchange= "nonprodtaskSelected('{{nps.id_code}}');">
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div id = "buttondiv" align = "right">

                        <input type = "hidden" id = "selectedNonProdTask" name = "selectedNonProdTask" value = "NO_NONPROD_TASK"/>
                        <input type = "hidden" id = "functionMode" name = "functionMode" value = "ADD"/>
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" id = "addNonprodTaskButton" class="w3-button w3-blue" value=" New "
                                            onclick = "setFunctionMode('ADD')">
                                </td>
                                <td>
                                    <input type="submit" id = "editNonprodTaskButton" class="w3-button w3-blue" value="Edit"
                                            onclick = "setFunctionMode('EDIT')">
                                </td>
                                <td>
                                    <input type="submit" id = "deleteNonprodTaskButton" class="w3-button w3-blue" value="Delete"
                                            onclick = "setFunctionMode('DELETE')">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
      
        <div class="splitright">
            <div class="centered">
                <table>
                    <tr>
                        <td><label id="labelscode" for = "scode" disabled>Id</label></td>
                        <td><input type = "text" name = "scode" id = "scode" size = "20"  disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelsname" for = "sname" >Name</label></td>
                        <td><input type = "text" name = "sname" id = "sname" size = "20"  disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelsdesc" for = "sdesc" >Description</label></td>
                        <td>
                            <textarea name = "sdesc" id = "sdesc" rows = "8" cols = "21"  disabled></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label id="labelsops" for = "sdesc" disable ></label></td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script>
    // TODO: ADD SCROLL BAR TO LIST
    // APPLY FIELD WIDTHS TO PAGE
    function setFunctionMode(fMode){
        document.getElementById('functionMode').value =  fMode;
    }

    function nonprodtaskSelected(st){
        document.getElementById('editNonprodTaskButton').classList.remove('disabled');
        document.getElementById('deleteNonprodTaskButton').classList.remove('disabled');
        document.forms["nonprodtasksForm"]['selectedNonProdTask'].value = st;
        var nonprodtasksListJson = document.getElementById('nonprodtasksListJsondata').getAttribute("data");
        var nonprodtasksList = JSON.parse(nonprodtasksListJson);
        document.getElementById('scode').setAttribute('value', nonprodtasksList[st]['id_code'])
        document.getElementById('sname').setAttribute('value', nonprodtasksList[st]['name'])
        document.getElementById('sdesc').innerHTML = nonprodtasksList[st]['desc'];
    }

    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
    function init(){
        document.getElementById('editNonprodTaskButton').classList.add('disabled');
        document.getElementById('deleteNonprodTaskButton').classList.add('disabled');
    }

    init();
</script>
{% endblock %}
