{% extends 'base.html' %}
{% block content_2 %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}
    <meta id="holidaysListJsondata" data="{{holidaysListJson}}" />
    
    <h1>Electral Control Systems</h1>

    <!-- TODO: INSTRUCTIONS FOR PAGE DEVELOPMENT
        0. MAKE THIS FUNCTIONALITY WORK FOR HOLIDAYS AS PER SHOWN IN IMAGE.
        1. THIS PAGE IS COPY-PASTE FROM SETUP, HENCE REFER TO SETUP FOR FUNCTIONALITY
        2. DO NOT CHANGE METHOD AND class NAMES. YOU CAN CHANGE TAG ATTRIBUTES LIKE name, id etc from setup to holiday
        3. DO NOT CHANGE OVERALL STRUCTURE OF PAGE. ITS NOT REQUIRED.
    
    -->

    <!-- <h2>Holidays:</h2> -->
    <h2>Holidays: PAGE IN PROGRESS</h2>

    <div class = "parts"> 

        <div class="splitleft">
            <div class="centered">
                <form name = "holidaysForm" action = "processHoliday" method = "POST">
                    {% csrf_token %} 
                    <!-- TODO: YOU NEED TO MAKE CHANGES IN TABLE DATA SUITABLE FOR HOLIDAY -->
                    <table id = "holidaystable"  width = 95% border = 1>
                        <tr>
                            <th width="20%">Holiday ID</th>
                            <th width="auto">Description</th>
                            <th width="5%">Date</th>
                            <th width="5%">Working</th> <!-- Need to be radio buttons in functionality-->
                            <th width="5%">Select</th> <!-- Need to be radio buttons in functionality-->
                        </tr>
                        {% for h in holidays %}
                        <tr>
                            <td>{{h.id_code}}</td>
                            <td>{{h.description}}</td>
                            <!--
                            <td>{{h.date}}</td>
                            <td>{{h.working}}</td>
                            -->
                           
                            <td>
                                <input type = "radio" value = "{{h.id_code}}" id = "editHolidays{{h.id_code}}" name = "editHolidays" 
                                class = "selected" 
                                onchange= 
                                "HolidaysSelected('{{h.id_code}}');">
                            
                          
                                <!---onchange expects a function we've defined-->
                              </td>
                            <td><input type = "radio" value = "{{h.id_code}}" id = "editHolidays{{h.id_code}}" name = "editHolidays"
                                class = "selected"
                                onchange = 
                            "HolidayWorking('{{h.id_code}}');" >
                            </td>
                        
                            <!---
                            <td><input type = "radio" value = "{{h.working}} id = </td>
                            Adding functionality to 'working' radio button
                            -->
                        </tr>
                        {% endfor %}
                    </table>
                    <div id = "buttondiv" align = "right">

                        <input type = "hidden" id = "selectedHoliday" name = "selectedHoliday" value = "NO_SETUP"/>
                        <input type = "hidden" id = "functionMode" name = "functionMode" value = "ADD"/>
                        <table>
                            <tr>
                                <td>
                                    <input type="submit" id = "addHolidayButton" class="w3-button w3-blue" value="New"
                                            onclick = "setFunctionMode('ADD')">
                                </td>
                                <td>
                                    <input type="submit" id = "editHolidayButton" class="w3-button w3-blue" value="Edit"
                                            onclick = "setFunctionMode('EDIT')">
                                </td>
                                <td>
                                    <input type="submit" id = "deleteHolidayButton" class="w3-button w3-blue" value="Delete"
                                            onclick = "setFunctionMode('DELETE')">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
      
        <div class="splitright">
            <div class="centered">
                <table>
                    <tr>
                        
                        <td><label id="labelhcode" for = "hcode" disabled>Holiday Code</label></td>
                        <td><input type = "text" name = "hcode" id = "hcode" disabled></td>
                    </tr>
                    <tr>
                        <!--- Change to label_h_description for better readability-->
                        <td><label id="labelhdesc" for = "hdesc" >Holiday Description</label></td>
                        <td><input type = "text" name = "hdesc" id = "hdesc" disabled></td>
                    </tr>
                    <tr>
                        <td><label id="labelhdate" for = "hdate" >Date</label></td>
                        <td><input type = "date" name = "hdate" id = "hdate" disabled></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label id="labelhops" for = "hdesc" disable ></label></td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script>

    function setFunctionMode(fMode){
        document.getElementById('functionMode').value =  fMode;
    }

    function setupSelected(st){
        document.getElementById('editHolidayButton').classList.remove('disabled');
        document.getElementById('deleteHolidayButton').classList.remove('disabled');
        document.forms["holidaysForm"]['selectedHoliday'].value = st;
        /*
        These lines area basically getting the value from clicked buttons. Value here is the id.
        The first two are removing the 'disabled' part from the CSS class List so that 
        clicked buttons are functional
        */

        var holidayListJson = document.getElementById('holidaysListJsondata').getAttribute("data");
        var holidayList = JSON.parse(holidaysListJson);
        /*
        TODO: YOU NEED TO MAKE CHANGES HERE
        */
        document.getElementById('hcode').setAttribute('value', holidaysList[st]['id_code']);
        document.getElementById('hdesc').setAttribute('value', holidaysList[st]['description']);
        document.getElementById('hdate').setAttribute('value', holidaysList[st]['date']);
        
    }

    /**
        THIS METHOD INITAITES THE STATUS OF REQUIRED FIELDS ON USERS PAGE 
    */
    function init(){
        document.getElementById('editHolidayButton').classList.add('disabled');
        document.getElementById('deleteHolidayButton').classList.add('disabled');
    }

    init();
</script>
{% endblock %}
